//div.max-width-container.mdl-grid
div.mdl-cell.mdl-cell--middle.mdl-cell--12-col.start-using-now
  = link_to "Start using Datagraft now", new_user_session_path, :class => "mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored"
