div.mdl-cell.mdl-cell--middle.mdl-cell--12-col
    = link_to "Start using DataGraft now!", dashboard_path, :class => "mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored sin-landing-button"

/h2 DataGraft is for Data Workers
/p
/  | Accelerate the process of accessing, exploring and transforming data with a new approach optimized for data of various shapes and sizes
/  .mdl-cell.mdl-cell--4-col
/    h3 Business
/    p Simplify the work required to achieve exploratory analytics, making diverse data useful more quickly and with less effort than any other solution.
/  .mdl-cell.mdl-cell--4-col
/    h3 IT
/    p Implement the only enterprise-grade solution that empowers data analysts to wrangle diverse data themselves in a secure, governed environment.
/  .mdl-cell.mdl-cell--4-col
/    h3 Data Workers
/    p Accelerate the process of accessing, exploring and transforming data with new approach that is optimized for data of all shapes and sizes.
  