/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require material
*= require material_icons
*= require jquery.gridster.css
*= require_self
*= require dataTables/dataTables.material.min
*/


$primary-color: #5264AE;
$accent-color: #FF609A;

html, body.mdl-base {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  text-align: justify;

  h1, h2, h3, h4, h5, h6, .mdl-button, .mdl-layouti__header {
    font-family: Montserrat, Roboto, Helvetica, Arial, sans-serif;
  }
  li {
    padding-inline-start: 10px;
    margin-left: 15px;
  }
}


@media (min-width: 840px) {
  section.section--center {
    margin:1.5em auto;
    width: calc(66vw + 6em);
  }
}

.mdl-layout__header {
  font-weight: normal;
}

.datagraft-main-title.mdl-layout-title {
  background: transparent image-url("logo.svg") no-repeat left center;
  background-size: 52px auto;
  font-family: Montserrat, Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  opacity: 0.95;

  &.mdl-navigation__link {
    padding-left: 65px !important;
  }

  &:after {
    content: " alpha";
    color: $accent-color;
    font-weight: 400;
    position: relative;
    bottom: 9px;
    font-size: 12px;
  }
}

.sin-padding {
  /*padding: 0.1em 1em 1em 1em;*/
  /*padding: 0.1em 2em 2em 2.1em;*/
  padding: 2em;
}

.sin-padding > h1 {
  margin-top:0;
}

.alert {
  // Change this property if your eyes burn too much
  background: $accent-color;
  // background: #384475;
  color: white;
  padding: 1.2em 1em 1.2em 2em;
  box-shadow: 0px -6px 3px -5px rgba(0, 0, 0, 0.25) inset
    // box-shadow: 0px -6px 8px -5px rgba(0, 0, 0, 0.35) inset;

}
.alert.alert-error {
  background: #F2504A;
}
.sin-condensed-form {
  margin: 8px;
}
.sin-condensed-form .mdl-grid {
  margin: 0;
  padding: 0;
}
.sin-condensed-form .mdl-cell {
  margin: 0;
  /*padding: 0;*/
}
.sin-form-group {
  background: white
}

.sin-margin-checkbox.mdl-checkbox {
  margin-bottom: 21px;
  margin-top: 10px;
}

.sin-pagination {
  margin:0.5em 1em 1em 2em;
}


/* Ugly colors */
/*.mdl-card.sin-card-transformation {
background: #F8F6FF;
}

.mdl-card.sin-card-datadistribution {
background: #E7F7FF;
}

.mdl-card.sin-card-datapage {
background: #F9FFE5;
}*/

body .mdl-color--primary {
  //background-color: rgb(66,66,66) !important;
  background-color: $primary-color !important;
}

.sin-color--primary {
  color: $primary-color;
}

body .mdl-color--accent {
  background-color: $accent-color !important;
}

body .mdl-layout__header-row {
  padding-left:30px;
}

.sin-flex-center {
  display:flex;
  align-items: center;
}

.sin-padding-left {
  padding-left: 2em;
}

.field_with_errors {
  display: block;
  padding:0;
  background: rgb(255,230,230);
  background: rgb(230,230,230);
}

.mdl-checkbox .field_with_errors {
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
}

.mdl-card__supporting-text.mdl-grid {
  width:100%;
}


.sin-table-fill {
  /*width:90%;*/
  /*margin:auto;*/
  margin-left:2em;
}

.mdl-data-table .sin-action-table {
  padding-left:1em;
  padding-right:0;
}
.sin-action-table a {
  color:inherit;
}
.sin-action-table a:hover {
  background: inherit;
  color: #333;
}

.sin-horizontal-scroll {
  overflow-y: auto;
  padding-bottom:2em;
  margin-left: -1.6em;
  margin-right: -2em;
}

a.mdl-button:hover {
  color:inherit;
}

.sin-monospace-key {
  font-family:monospace;
}

main .mdl-button.mdl-js-ripple-effect {
  min-width: 220px;
}

.mdl-card .mdl-button.mdl-js-ripple-effect,
.sin-user-box .mdl-button.mdl-js-ripple-effect {
  min-width:initial;
}

.mdl-layout__content.sin-layout-flex {
  display: flex;
}

.sin-section-flex {
  display: flex;
  flex-grow: 1;
}

.mdl-layout__content.sin-main-layout {
  display:flex;
  flex-direction: column;
  flex: 1;
}

// .sin-main-layout > section {
//   flex-grow: 1;
// }

.sin-section-simple-margin {
  margin:0px;
  flex: 1;
}

/* Liberation lol */
*::selection {
  background-color: #E91845 !important;
  color: #FFF !important;
  text-shadow: none;
}
*::-moz-selection {
  background-color: #E91845 !important;
  color: #FFF !important;
  text-shadow: none;
}

main > footer {
  font-size:0.8em;
  margin-bottom: 1.5em;
}

iframe.grafterizer {
  border: none;
  width: 100%;
}


.sin-admin-user {
  color: #F50057 !important;
}
.sin-admin-user::after {
  content: " (administrator)";
}

.sin-no-padding-top {
  margin-top:0;
  padding-top:0;
}

.sin-colourfull.mdl-grid {
  i.material-icons {
    // font-size: 1em;
    font-size: 4em;
    text-align: center;
    display: block;
    width: 100%;
    line-height: 1.5em;
  }
  h2 {
    text-align: center;
  }
  // background: pink;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;

  .sin-condensed-form {
    margin:0;
  }
  .sin-condensed-form .mdl-cell {
    width: 100%;
  }

  .mdl-button {
    // width: 240px !important;
    padding: 0 !important;
  }

  .sin-login-card {
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    padding: 1em 4em;
  }
}

.sin-invisible-form-separator {
  border:none;
}

.sin-textfield__select {
  margin-top:-1.85em;
}

.simple_form .mdl-switch {
  left: 10px;
}

.sin-nested-form {
  .mdl-card__title {
    background: $primary-color;
  }
}

.sin-nested-links {
  align-self: flex-end;
  flex-grow: 1;
  text-align: right;
  // position: relative;
  // top: 4em;
  padding-top: 1em;
}

// .mdl-card__supporting-text.sin-padding {
//   padding-top: 1em;
// }

.sin-td-wrap {
  word-wrap: break-word;
  white-space: normal;
}

// TODO this might be too much
.mdl-card pre {
  white-space: pre-line;
}

.sin-controller--dashboard.sin-action--index .sin-section-flex {
}

.sin-input-with-help-icon {
  display: flex;
  width: 100%;
}

.sin-input-with-help-icon .mdl-switch {
  width: 100px;
  margin-right: 30px;
}

.sin-help-icon-with-tooltip {
  margin-left: -30px;
  padding-top: 25px;
  color: rgba(0,0,0,0.3);
  z-index: 1;
  cursor: default;
}

.sin-help-icon-with-tooltip:hover {
  color: rgba(0,0,0,0.6);
}

.sin-help-icon-with-tooltip__select {
  margin-left: -30px;
  padding-top: 0px;
  color: rgba(0,0,0,0.3);
  z-index: 1;
  cursor: default;
}

.sin-help-icon-with-tooltip__select:hover {
  color: rgba(0,0,0,0.6);
}

.sin-help-icon-with-tooltip__switch {
  margin-left: 0px;
  padding-top: 0px;
  color: rgba(0,0,0,0.3);
  z-index: 1;
  cursor: default;
}

.sin-help-icon-with-tooltip__switch:hover {
  color: rgba(0,0,0,0.6);
}

.sin-mini-footer {
  flex: 0 0 36px;
  flex-wrap: nowrap;
  margin: 0;
  padding: 10px 20px;
  background-color: $primary-color;
  color: white;

  & > .sin-mini-footer__small-print {
    font-size: 10px;
    padding: 5px 0;
    line-height: 1.4em;
    margin: 0 4em;
    text-align: center;

    & > a {
      font-family: Montserrat, Roboto, Helvetica, Arial, sans-serif;
      text-decoration: none;
      font-weight: bold;
    }
  }

  & .mdl-mini-footer__left-section {
    flex: 1 1 50%;
  }

  & .mdl-mini-footer__link-list > li {
    white-space: nowrap;
    flex: 0 min-content;
  }

  & .mdl-mini-footer__right-section {
    flex: 1 1 50%;

    & > ul {
      justify-content: flex-end;

      & > li {
        margin-right: 0;
        margin-left: 16px;
      }

      @media only screen and (max-width: 760px) {
        justify-content: flex-start;
      }
    }
  }

  @media only screen and (max-width: 1160px) {
    flex-wrap: wrap;
    flex: 0 0 auto;

    & > .sin-mini-footer__small-print {
      order: 3;
      width: 100%;
      padding: 3px 0 0 0;
    }
  }
}
