// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #5264AE;


.mdl-data-table.sin-projects-table {
  border:none;
  width:100%;

  td {
    border-top:none;
  }
}
// Section styles
.sin-projects-title {
  margin:0;
  padding:0 0.66em;
}
.sin-projects-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sin-projects {
  padding-top: 6px;
  .pagination {
    text-align: center;
    padding:0.33em;
  }
}

// Pagination
#dashboard-user-assets-table_paginate {
  margin: auto;
  text-align: center;
  & > a {
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px;
    margin: 8px 0;
  }
  & > span {
    & > a {
      cursor: pointer;
      border: none;
      padding: 8px 16px;
      text-decoration: none;

      &.current{
        background-color: $primary-color;
        color: white;
      }

    }
  }
}
ul.pagination-dashboard-assets-table li {
  display: inline-block;
  padding: 0;
  margin: 8px 0;
}
ul.pagination-dashboard-assets-table li a {
  border: none;
  padding: 8px 16px;
  float: left;
  text-decoration: none;
}
ul.pagination-dashboard-assets-table li.active a {
  border: none;
  background-color: #5264AE;
  color: white;
}
ul.pagination-dashboard-assets-table li:hover:not(.active) a {
  background-color: #ddd;
}

// Activity feed
.sin-dashboard-activity-feed {
  color:white;
  background: $primary-color image-url("background_blue_vertical.jpg");
  background-size: cover;
  h3 {
    margin-left: 36px;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    background: whitesmoke;
    margin-left: 2em;
    margin-right: 2em;
    color: #5264AE;
    padding: 8px 14px;
    margin-bottom: 10px;
    line-height: 1.25em;
    border-radius: 4px;

    a {
      font-weight: bold;
    }

    position:relative;
    padding-left: 68px;

    img {
      position: absolute;
      left: 18px;
      top: 10px;
      width: 32px;
      height: 32px;
    }
  }

  p.sin-activity-date {
    margin:0;
    color: #616161;
    line-height: 1.4em;
  }
}

// User assets table
#dashboard-user-assets-table {
  height: 70vh;

  .sin-short-name {
    max-width: 28vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap !important;
  }
}
.sin-dashboard-layout > .mdl-card {
  width: 100%;
  align-items: stretch;
  & .dataTables_wrapper {
    background-color: rgb(255,255,255) !important;
    align-items: stretch;
    th {
      font-size: 16px !important;
    }
    td {
      font-size: 14px !important;
    }
    & .mdl-card__actions {
      align-items: flex-end;
      border-top: 1px solid #cdcdcd;
      font-size: 18px !important;
    }
  }

}
.sin-icon__data_page {
  background: transparent image-url("icon--data_page.svg") no-repeat center;
  background-size: auto 85%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.sin-icon__query {
  background: transparent image-url("icon--query.svg") no-repeat center;
  background-size: auto 85%;
}
.sin-icon__transformation {
  background: transparent image-url("icon--transformation.svg") no-repeat center;
  background-size: auto 85%;
}
.sin-icon__queriable_data_store {
  background: transparent image-url("icon--queriable_data_store.svg") no-repeat center;
  background-size: auto 85%;
}
