// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #5264AE;
$dirty-white: #E9ECF6;
$accent-color: #FF609A;

// Section styles
.sin-dashboard-layout > .mdl-grid {
  padding: 0px;
  & > .sin-dashboard-title {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, transparent, transparent, rgba(0,0,0,0.25)), image-url("background_blue_grafterizer.jpg");
    background-size: cover;
    //  background-position: left;
    // flex-direction: column;
    align-items: center;
    min-height: 8em;
    h2, h3, h4 {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      display: block;
      margin: 0;
      color: $dirty-white;
      align-self: center;
    }
    & > #create-assets.mdl-tabs__tab-bar{
      justify-content: space-between;
      display: flex;
      flex-direction: column;
    }
    & > .mdl-tabs__tab-bar {
      align-self: stretch;

      a {
        background: rgba(0, 0, 0, 0.07);
        width: 33%;
        font-size: 18px !important;
        color: $dirty-white;
        &.is-active {
          background: rgba(0,0,0,0.25);
        }
      }
    }
    & .mdl-tabs__tab .mdl-tabs__ripple-container .mdl-ripple {
      background: $dirty-white;
    }
    & .mdl-tabs__tab.is-active:after {
      background: $primary-color !important;
      height: 6px !important;
    }
  }

}
@media (min-width: 840px) {
  .sin-dashboard-layout .sin-centered {
    margin: 0px auto;
    width: calc(66vw + 6em);
  }
}
.sin-dashboard-layout .mdl-card {
  width: 100%;
  & > .mdl-card__title {
    background-image: linear-gradient(to bottom, transparent, transparent, rgba(0,0,0,0.25)),
      image-url("background_blue_grafterizer.jpg");
    background-size: cover;
    padding: 24px;
    align-items: flex-start;
    min-height: 10em;
    align-items: center;
    justify-content: center;
  }
  h2, h3, h4 {
    margin: 0;
    color: $dirty-white;

  }
}

.sin-vertical-card.mdl-card {
  //    min-height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  & > * {
    flex: 1 100%;
  }

  &:first-child {
    margin-top: 1.5em;
  }

  &:last-child {
    margin-bottom: 1.5em;
  }

  &+.sin-vertical-card.mdl-card {
    margin-top: 1.5em;
  }

  &.sin-vertical-card.mdl-card  {
    & button.mdl-button {
      min-width: 120px;
      font-size: large;
      min-height: 50px;
    }
  }

  & > .mdl-card__title {
    background-image: image-url("symphony.png");
    background-size: auto;
    font-family: Montserrat, Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    padding: 0;
    min-height: 2.5em;
    flex: 1 100%;
    height: 40px;
  }

  & > .mdl-card__supporting-text {
    flex: 5 0px;
    order: 1;
    width: auto;
    font-size: 17px;
    padding: 20px;
    line-height: 1.2;
    padding: 1.5em 0em 1.5em 1.5em;
  }

  & > .mdl-card__actions {
    flex: 1 0px;
    order: 2;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:nth-child(2) > .mdl-card__title {
    background-image: image-url("small_steps.png");
  }

  &:nth-child(3) > .mdl-card__title {
    background-image: image-url("squairy_light.png");
  }

}

// Pagination
#dashboard-user-assets-table_paginate {
  margin: auto;
  text-align: center;
  & > a {
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px;
    margin: 8px 0;
  }
  & > span {
    & > a {
      cursor: pointer;
      border: none;
      padding: 8px 16px;
      text-decoration: none;

      &.current{
        background-color: $primary-color;
        color: white;
      }

    }
  }
}
ul.pagination-dashboard-assets-table li {
  display: inline-block;
  padding: 0;
  margin: 8px 0;
}
ul.pagination-dashboard-assets-table li a {
  border: none;
  padding: 8px 16px;
  float: left;
  text-decoration: none;
}
ul.pagination-dashboard-assets-table li.active a {
  border: none;
  background-color: #5264AE;
  color: white;
}
ul.pagination-dashboard-assets-table li:hover:not(.active) a {
  background-color: #ddd;
}

// Activity feed
.sin-dashboard-activity-feed {
  color:white;
  background: $primary-color image-url("background_blue_vertical.jpg");
  background-size: cover;
  h3 {
    margin-left: 36px;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    background: whitesmoke;
    margin-left: 2em;
    margin-right: 2em;
    color: #5264AE;
    padding: 8px 14px;
    margin-bottom: 10px;
    line-height: 1.25em;
    border-radius: 4px;

    a {
      font-weight: bold;
    }

    position:relative;
    padding-left: 68px;

    img {
      position: absolute;
      left: 18px;
      top: 10px;
      width: 32px;
      height: 32px;
    }
  }

  p.sin-activity-date {
    margin:0;
    color: #616161;
    line-height: 1.4em;
  }
}

// Search and filtering assets
.sin-dashboard-layout .sin-dashboard-search {
  display: flex;
  align-items: center;
  i.material-icons {
    padding-right: 8px;
  }
}

// User assets table
#dashboard-user-assets-table {
  height: 47vh;

  .sin-short-name {
    max-width: 28vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap !important;
  }
  .dashboard-user-assets__is-public-cell {
    overflow: visible;
    & > .mdl-switch {
      width: 85%;
    }
    button.mdl-button {
      min-height: 20px;
    }

    li.mdl-menu__item {
      display: flex;
      & > i.material-icons {
        align-self: center;
        padding-right: 5px;
      }
    }
  }
}

.sin-dashboard-layout .mdl-card {
  width: 100%;
  align-items: stretch;
  & .dataTables_wrapper {
    padding-top: 20px;
    background-color: rgb(255,255,255) !important;
    align-items: stretch;
    & .dataTables_length {
      padding-bottom: 8px;
    }
    th {
      font-size: 16px !important;
    }
    td {
      font-size: 14px !important;
    }
    & .sin-dashboard-table-asset-name {
      width: 100%;
    }
    & .mdl-card__actions {
      align-items: flex-end;
      border-top: 1px solid #cdcdcd;
      font-size: 16px !important;
    }
    & .sin-delete-asset-text {
      color: firebrick;
    }
  }
  & .sin-dashboard-search {
    width: auto;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 15px;

    & > .mdl-checkbox {
      margin-left: 20px;
      width: auto;
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  & .sin-dashboard-asset-filters {
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
    & > .mdl-checkbox {
      width: auto;
      padding-right: 24px;
    }
  }
}

#current-user-name-hidden {
  font-size: 0;
}

// icons for the different asset types
.sin-icon__data_page, .sin-icon__filestore {
  background: transparent image-url("icon--data_page.svg") no-repeat center;
  background-size: auto 85%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.sin-icon__query {
  background: transparent image-url("icon--query.svg") no-repeat center;
  background-size: auto 85%;
}
.sin-icon__transformation {
  background: transparent image-url("icon--transformation.svg") no-repeat center;
  background-size: auto 85%;
}
.sin-icon__queriable_data_store, .sin-icon__sparql_endpoint {
  background: transparent image-url("icon--queriable_data_store.svg") no-repeat center;
  background-size: auto 85%;
}
td.sin-zero-padding {
  padding: 0px 0px 0px 0px !important;
  width: 100%;
}

