// Place all the styles related to the Filestores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.keyw-array-container {
  list-style:none;
  
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
  flex-wrap: wrap
}

.keyw-array-item {
  padding: 5px;
}