// Place all the styles related to the Landingpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$accent-color: #FF609A;
$primary-color: #5264AE;

.mdl-card.sin-landingpage-card {
  background: image-url("symphony.png");
  &.sin-bg-alt-1 {
    background: image-url("small_steps.png");
  }
  &.sin-bg-alt-2 {
    background: image-url("squairy_light.png");
  }
  .mdl-card__actions {
    background: rgba(255,255,255,0.6);
  }

}

$dapaas-color: #5264AE;
$dapaas-color-light: #a8b1d6;
$dapaas-color-wordcloud: #dde0ee;
$dapaas-color-accent: #FF609A;
$white-not-so-white: hsl(226, 39%, 94%);

.landing-gradient {
  height: calc(102vh - 64px);
  background: $dapaas-color linear-gradient(0deg,
    $dapaas-color-wordcloud,
    $dapaas-color ) repeat scroll 0% 0%;
}

.first-screen {
  height: 100vh;
  color:$white-not-so-white;
  height:100vh;
  padding: 0px !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;


  p {
    font-size:19px;
    text-align: left;
  }

  h2 {
    font-size:57px;
    margin-bottom:32px;
    line-height: 57px;
    text-align: left;
  }

  #screenshots-container {
    min-height: 25vh;
    position:relative;
    width: 35%;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select: none;
  }

  .screenshot {
    position:absolute;
    transition: all 0.5s ease-in-out 0s;
    height:300px;
    width:100%;
    left:25%;
    z-index: 6;

    img {
      border-radius:3px;
      background: $white-not-so-white;
      box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.048);
      max-width:80%;
      max-height:100%;
      transition: all 0.5s ease 0s;
      transform: scale(0.728,0.728) perspective(300px) rotateY(-2deg);
    }

    &:first-child {
      left:0%;
      z-index: 10;
      img {
        transform: scale(1,1) perspective(250px) rotateY(-4deg);
      }
    }
    &:nth-child(2) {
      left:10%;
      z-index: 9;
      img {
        transform: scale(0.932,0.932) perspective(300px) rotateY(-2deg);
      }
    }
    &:nth-child(3) {
      left:15%;
      z-index: 8;
      img {
        transform: scale(0.864,0.864) perspective(300px) rotateY(-2deg);
      }
    }
    &:nth-child(4) {
      left:20%;
      z-index: 7;
      img {
        transform: scale(0.796,0.796) perspective(300px) rotateY(-2deg);
      }
    }
    &:nth-child(5) {
      left:20%;
      z-index: 7;
      img {
        transform: scale(0.728,0.728) perspective(300px) rotateY(-2deg);
      }
    }
    &:nth-child(6) {
      left:20%;
      z-index: 7;
      img {
        transform: scale(0.66,0.66) perspective(300px) rotateY(-2deg);
      }
    }
    &:nth-child(7) {
      left:20%;
      z-index: 7;
      img {
        transform: scale(0.592,0.592) perspective(300px) rotateY(-2deg);
      }
    }
    &:nth-child(8) {
      left:20%;
      z-index: 7;
      img {
        transform: scale(0.524,0.524) perspective(300px) rotateY(-2deg);
      }
    }
    &:nth-child(9) {
      left:20%;
      z-index: 7;
      img {
        transform: scale(0.456,0.456) perspective(300px) rotateY(-2deg);
      }
    }
    &:nth-child(10) {
      left:20%;
      z-index: 7;
      img {
        transform: scale(0.388,0.388) perspective(300px) rotateY(-2deg);
      }
    }
  }

  img {
    max-width: 25vw;
    cursor: pointer;
  }

  iframe {
    max-width: 25vw;
    max-height: 25vh;
  }

  p {
    font-size:19px;
    text-align: left;
  }

  h3 {
    font-weight: 300px;
    margin-bottom:15px;
    line-height: 40px;
    text-align: left;
  }
}

.sin-pict-modal {
  //width: 90%; // This is moved to js to override MDL classes
  img {
    width: 100%;
  }
}

.third-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background: $dapaas-color-wordcloud image-url("wordcloud_hr9_nsw.png") no-repeat;
  background-size: cover;
  padding: 0px !important;

  .mdl-cell.mdl-cell--middle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }


  p {
    font-size: 29px;
  }

  h3 {
    font-weight: 300px;
    margin-top:15px;
    margin-bottom:15px;
    line-height: 40px;
    text-align: left;
  }
}

.last-screen {
  //  height:40vh;
  //  background:#F2F2F2 image-url("bg.jpeg") no-repeat;
  background-size: cover;
  //background-position: center -330.634px;

  background-position: center center;
  position:relative;

  .photo-credits {
    position: absolute;
    left: 13px;
    bottom: 12px;
    color: rgb(202, 157, 191);
    font-size: small;
    &:hover, a:hover {
      color:$white-not-so-white;
    }
  }
}

@media screen and (min-width: 960px) {
  .first-screen #screenshots-container {
    transform: scale(1.1,1.1) translateX(10px);
  }
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.sin-how-it-works {
  display: flex;
  background-color: rgba(0,0,0,0.07);
  .mdl-cell.mdl-cell--4-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    p {
      text-align: center;
    }
  }
}

.sin-icon__transformation-landing {
  background: transparent image-url("icon--widget.svg") no-repeat center;
  background-size: auto 85%;
  min-height: 80px;
  min-width: 80px;
}

.sin-icon__hosting-landing {
  background: transparent image-url("icon--queriable_data_store.svg") no-repeat center;
  background-size: auto 85%;
  min-height: 80px;
  min-width: 80px;
}

.sin-icon__access-landing {
  background: transparent image-url("icon--service.svg") no-repeat center;
  background-size: auto 85%;
  min-height: 80px;
  min-width: 80px;
}

.sin-max-width-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
  flex-grow: 1;
}

.sin-landing-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sin-button-rounded {
  border-radius: 35px !important;
  font-size: 17px !important;
}

.sin-half-screen-vh {
  max-height: 57vh;
}

.sin-start-using-now {
  a.mdl-button--raised.mdl-button--colored:hover {
    // background:rgb(103,58,183);
    background: $dapaas-color-accent;
    color: white;
    text-decoration: initial;
  }
  a.mdl-button--raised.mdl-button--colored {
    background: $white-not-so-white;
    color: #333;
    padding: 10px 24px;
    margin-right: 16px;
  }

  a.mdl-button--raised.mdl-button--colored:hover {
    // background:rgb(103,58,183);
    background: $dapaas-color-accent;
    color: white;
    text-decoration: initial;
  }
}

.sin-landing-button {
  border-radius: 35px !important;
  font-size: 30px !important;
  text-align: center;
  text-decoration: initial;
  padding-top: 30px;
  vertical-align: middle !important;
  line-height: 70px !important;
  min-width: 450px !important;
  height: 70px !important;

  &.mdl-button--raised.mdl-button--colored:hover {
    // background:rgb(103,58,183);
    background: $dapaas-color-accent;
    color: white;
    text-decoration: initial;
  }
  &.mdl-button--raised.mdl-button--colored {
    background: $white-not-so-white;
    color: #333;
    padding: 10px 24px;
    margin-right: 16px;
  }
  &.mdl-button--raised.mdl-button--colored:hover {
    // background:rgb(103,58,183);
    background: $dapaas-color-accent;
    color: white;
    text-decoration: initial;
  }
}
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 85vh;
  width: 90%;
  display: none;
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 5vw;
  top: 10vh;
  color: $white-not-so-white;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  //overflow-y: hidden; /* Disable vertical scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */

  &#ovl1 {
    background: image-url("screenshots/Grafterizer1.png") no-repeat;
    background-size: cover;
  }
  &#ovl2 {
    background: image-url("screenshots/Sparql1.png") no-repeat;
    background-size: cover;
  }
  &#ovl3 {
    background: image-url("screenshots/Sparql4.png") no-repeat;
    background-size: cover;
  }

  /* Position the image inside the overlay */
  img#show-ovl1, img#show-ovl2, img#show-ovl3 {
    position: relative;
    //max-height: 100%;
    max-width: 100%;
    text-align: center; /* Centered text/links */
  }

  /* Position the close button (top right corner) */
  .closebtn {
    z-index: 100;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: $white-not-so-white;
    background-color: $dapaas-color-accent;
    cursor: pointer;
  }
}
