// Place all the styles related to the Landingpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mdl-card.sin-landingpage-card {
  background: image-url("symphony.png");
  &.sin-bg-alt-1 {
    background: image-url("small_steps.png");
  }
  &.sin-bg-alt-2 {
    background: image-url("squairy_light.png");
  }
  .mdl-card__actions {
    background: rgba(255,255,255,0.6);
  }

}

$dapaas-color: #5264AE;
$dapaas-color-accent: #FF609A;
$white-not-so-white: hsl(226, 39%, 94%);

.first-screen {
    background:$dapaas-color;
    background: $dapaas-color linear-gradient(0deg,
        saturate(lighten($dapaas-color, 10%),12%),
        $dapaas-color 95.09%) repeat scroll 0% 0%;
    min-height: 100vh;
    color:$white-not-so-white;

    p {
        font-size:19px;
        text-align: left;
    }

    h2 {
        font-size:57px;
        margin-bottom:32px;
        line-height: 57px;
        text-align: left;
    }

    #screenshots-container {
        position:relative;
        height:353px;
        //left:50px;
        cursor:pointer;
        -webkit-user-select:none;
        -moz-user-select:none;
        user-select: none;
    }
    .screenshot {
        position:absolute;

        transition: all 0.5s ease-in-out 0s;
        height:300px;
        width:100%;
        left: 50%;

        img {
            border-radius:3px;
            background: $white-not-so-white;
            box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.048);
            max-width:90%;
            max-height:100%;
            transition: all 0.5s ease 0s;
            transform: scale(1,1) perspective(275px) rotateY(-3deg);
        }

        &:first-child {
            left:50%;
            img {
                transform: scale(0.66,0.66) perspective(300px) rotateY(-2deg);
            }
        }
        &:nth-child(2) {
            left:41%;
            img {
                transform: scale(0.728,0.728) perspective(300px) rotateY(-2deg);
            }
        }
        &:nth-child(3) {
            left:32%;
            img {
                transform: scale(0.796,0.796) perspective(300px) rotateY(-2deg);
            }
        }
        &:nth-child(4) {
            left:23%;
            img {
                transform: scale(0.864,0.864) perspective(300px) rotateY(-2deg);
            }
        }
        &:nth-child(5) {
            left:14%;
            img {
                transform: scale(0.932,0.932) perspective(300px) rotateY(-2deg);
            }
        }
        &:last-child {
            left:-10px;

            img {
                transform: scale(1,1) perspective(250px) rotateY(-4deg);
            }
        }
    }
    .max-width-container {
        max-width: 100vw;
    }
}

.second-screen {
    background:$white-not-so-white;
    min-height:100vh;

    table {
      border-spacing: 20px 10px;
    }
    td {
      vertical-align: top;
    }

    p {
        font-size:19px;
        text-align: left;
    }

    h3 {
        font-weight: 300px;
        margin-bottom:15px;
        line-height: 40px;
        text-align: left;
    }

    .max-width-container {
        max-width: 100vw;
    }
}

.third-screen {
    height:100vh;
    background:$white-not-so-white image-url("word_cloud_1024-4.png") no-repeat;
    //background-size: cover;

    background-position: center bottom;
    position:relative;

    table {
      border-spacing: 20px 10px;
    }
    td {
      vertical-align: top;
    }

    p {
        font-size:19px;
        text-align: left;
    }

    h3 {
        font-weight: 300px;
        margin-bottom:15px;
        line-height: 40px;
        text-align: left;
    }

    .max-width-container {
        max-width: 100vw;
    }
}
.start-using-now {
    text-align: center;
    text-decoration: initial;

    a.mdl-button--raised.mdl-button--colored {
        background:$white-not-so-white;
        color:#333;
        padding: 10px 24px;
    }

    a.mdl-button--raised.mdl-button--colored:hover {
        // background:rgb(103,58,183);
        background:$dapaas-color-accent;
        color:white;
        text-decoration: initial;
    }
}

.last-screen {
    min-height:900px;
    background:#F2F2F2 image-url("bg.jpeg") no-repeat;
    background-size: cover;
    //background-position: center -330.634px;

    background-position: center center;
    position:relative;

    .photo-credits {
        position: absolute;
        left: 13px;
        bottom: 12px;
        color: rgb(202, 157, 191);
        font-size: small;
        &:hover, a:hover {
            color:$white-not-so-white;
        }
    }
}


@media screen and (min-width: 960px) {
    .first-screen #screenshots-container {
        transform: scale(1.2,1.2) translateX(10px);
    }
}
