/*
  Paper Collapse

  Collapsible paper cards.

  Made with love by bbo - ©2014 Alexander Rühle
  MIT License http://opensource.org/licenses/MIT
*/

//@import "_mixins";
// Mixins for dependencies
@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin cf {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin raise-2 {
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18824);
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18824);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18824);
  z-index: 200;
}

//@import "_variables";
// Variables

// Font
$text-color: #404040 !default;

// Colors
$white: #fff !default;
$blue: #3372df !default;
$red: #cb4437 !default;
$orange: #eea236 !default;
$yellow: #f4b400 !default;
$green: #0f9d58 !default;

$light-gray: #eee;
$mid-gray: #777;
$dark-gray: #333 !default;

//@import "_component";
.collapse-card {
  background-color: $white;
  border-bottom: 1px solid $light-gray;
  cursor: pointer;
  color: $mid-gray;
  padding: 1rem;
  @include transition(.4s);

  .title {
    @include cf;
    font-size: 1rem;
    line-height: 1.8rem;
    i {
      float: left;
    }
    span {
      float: right;
      margin-left: 1rem;
    }
    strong {
      display: block;
      margin-left: 4rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &::after {
        color: $text-color;
        font-family: 'FontAwesome';
        padding-left: .4rem;
        font-size: 1rem;
        line-height: 1.49rem; // 1.49rem < 1.5rem standard font-height
      }
    }
  }

  .body {
    padding: 1rem;
    display: none;
  }

  * {
    @include border-box();
  }

  &.active {
    @include raise-2;
    margin: 1rem -1rem;
    &:hover {
      .title {
        strong::after {
          //content: "\f066"; // compress icon
        }
      }
    }
  }

  &:hover {
    .title {
      strong::after {
        //content: "\f065"; // expand icon
      }
    }
  }
}
