.sin-user-box {
  text-align: center;

  padding:1.3em; 
}

.sin-stars-count {
  text-align: right;
}
.sin-stars-count, .sin-private-indicator {
  i.material-icons {
    font-size:16px;
    line-height: 13px;
    position:relative;
    top:2px;
  }
}

.sin-search-hero.mdl-grid {
  background: #5264AE image-url("background_blue_explore_page.jpg") no-repeat;
  background-size: cover;
  background-position: right;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 8em;

  form {
    background: rgba(82, 100, 174, 0.53);
    padding: 0.3em 5em 1em 5em;
    /* box-shadow: 1px 1px 1px black inset; */
    border-radius: 4px;
    display:flex;
    align-items:center;

    i.material-icons {
      color: rgba(255,255,255,0.87);
      font-size: 3em;
      margin-right: 0.4em;
      margin-top: 0.2em;
    }
  }
  .mdl-textfield__input {
    color: white;
    border-bottom: 1px solid rgba(255,255,255, 0.12);
  }
  .mdl-textfield__label {
    color: white;
    opacity: 0.87;
  }
}

.sin-small-card.mdl-card {
  min-height:160px;
  /*height:150px;*/
  overflow: hidden;
  display:flex;
}

a.sin-small-card {
  text-decoration: none;
}  
a.sin-small-card:hover {
  background-color: #ddd;
  color: black;
}
.sin-card-center.mdl-card__supporting-text {
  flex-grow: 1;
  padding-top: 0.3em !important;
  min-height: 2em;
  font-size: 1.2em !important;
}


.sin-controller--public_portal.sin-action--explore {
  .sin-small-card {
    .mdl-card__title {
      // background: #424242;
      // background-size: cover;
      padding-left: 60px;
      // color: white;
      // background-repeat: no-repeat, no-repeat;
      // background-size: 32px 32px, cover;
      // background-position: 13px center, left;
      background-repeat: no-repeat;
      background-size: 32px 32px;
      background-position: 13px center;
    } 
  }

  .sin-card--transformation .mdl-card__title {
    background-image: image-url("icon--transformation.svg");
  }

  .sin-card--datapage .mdl-card__title {
    background-image: image-url("icon--data_page.svg");
  }

  .sin-card--datadistribution .mdl-card__title {
    background-image: image-url("icon--file.svg");
  }
  .sin-card--filestore .mdl-card__title {
    background-image: image-url("icon--file.svg");
  }
}