// Place all the styles related to the sparql_endpoints controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}

.mdl-card__actions > .mdl-button--raised {
  margin-left: 0px;
  margin-right: 20px;
}
