// Place all the styles related to the sparql_endpoints controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #5264AE;
$dirty-white: #E9ECF6;
$accent-color: #FF609A;

.sin-card-layout .mdl-card__supporting-text {
  width: auto;
}

.sin-card-layout .mdl-card__suporting-text .mdl-grid .mdl-cell {
  width: 90%;
}

.sin-card-layout .mdl-card__actions {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  align-items: center;
}

.sin-card-layout .mdl-card__actions > .mdl-button--raised {
  margin-left: 0px;
  margin-right: 16px;
}

.sin-card-with-tabs-layout {
  
}

.sin-card-with-tabs-title { 
  background-image: 
    linear-gradient(to bottom, transparent, transparent, rgba(0,0,0,0.25)),
    image-url("background_blue_explore_page.jpg");
  
  .mdl-card__title {
    align-items: flex-end;
    justify-content: space-between;
  }
  
  h3, h4 {
    margin:0;
    a {
      color: white;
      text-decoration: none;
      &:not(.sin-stars):hover {
        text-decoration: underline;
      }
    }
  }

  h3 {
      margin-top: 2em;
    }

  h3:before {
    position: absolute;
    top: 16px;
    left: 16px;
  }

  h4 {
      font-size: large;
      text-align: right;
    }
  
  .sin-lock {
    position:absolute;
    top: 1em;
    right: 1em;
    i.material-icons {
      font-size: 3em;
    }
  }

  .sin-stars {
    display: inline-block;
    margin-left: 1em;
    background: $primary-color;
    border-radius: 5px;
    padding: 0px 1em 2px 1em;
    line-height: 26px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5) inset;
    &:hover {
      background: darken($primary-color, 10%);
    }
    i.material-icons {
      font-size: 16px;
      position: relative;
      top: 2px;
      right: 6px;
    }

    &.sin-stared i.material-icons {
      color: $accent-color; 
    }
  }

  & > .mdl-tabs__tab-bar {
    padding-top: 10px;
    align-self: stretch;
        
    a {
      background: rgba(0, 0, 0, 0.07);
      width: 50%;
      font-size: 18px !important;
      color: $dirty-white !important;

      &.is-active {
        background: rgba(0,0,0,0.25) !important;
      }
    }
  }
    
  & .mdl-tabs__tab .mdl-tabs__ripple-container .mdl-ripple {
    background: $dirty-white;
  }
    
  & .mdl-tabs__tab.is-active:after {
    background: $primary-color !important;
    height: 6px !important;
  }
}

.sin-img-license > img {
  align-self: center;
  max-width: 100%; 
  max-height: 100%;
  margin: auto;
  display: block;
}

.keyw-array-container {
  list-style:none;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
  flex-wrap: wrap
} 

.keyword-frame {
  border: 1px solid rgba(3,3,3,0.2);
}

.keyword-debug {
  border: 5px solid rgba(3,3,3,0.2);
}

.keyw-array-item {
  padding: 5px;
}
 
.container-scroll {
  overflow-x: scroll;
}

.sin-tab-layout > .mdl-grid {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}

.sin-tab-title {
  text-align: center; 
}

.sin-tab-label {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 2px;
}

.sin-tab-text {
  padding-top: 8px;
}

.sin-tab-textfield__box {
  border: 1px solid rgba(3,3,3,0.3);
  padding: 4px;
}

.sin-tab-textfield__colorbox {
  border: 1px solid rgba(3,3,3,0.3);
  background-color: rgba(0,0,0, 0.1);
  padding: 4px;
  
  & > .keyw-array-container > .keyw-array-item > .mdl-button {
    background-color: rgba(0,0,0, 0.3);
    color: rgba(0,0,0, 0.7);
    box-shadow: none;
  }
}

.sin-tab-textfield__scroll {
  border: 1px solid rgba(3,3,3,0.3);
  padding: 4px;
  overflow-y: scroll;
  height: 200px;
}

.sin-tabs { 
  & > .mdl-tabs {
//    display: flex;
//    width: 100%;
//    flex-direction: column;
//    justify-content: space-between;
//    background-image: linear-gradient(to bottom, transparent, transparent, rgba(0,0,0,0.25)), image-url("background_blue_grafterizer.jpg");
//    background-size: cover;
    //  background-position: left;
    // flex-direction: column;
//    align-items: center;
//    min-height: 8em;

    & > .mdl-tabs__tab-bar {
      padding-top: 10px;
      align-self: stretch;
      
      a {
        background: rgba(0, 0, 0, 0.07);
        width: 50%;
        font-size: 18px !important;
//        color: $dirty-white;

        &.is-active {
          background: rgba(0,0,0,0.25);
        }
      }
    }
    
    & .mdl-tabs__tab .mdl-tabs__ripple-container .mdl-ripple {
//      background: $dirty-white;
    }
    
    & .mdl-tabs__tab.is-active:after {
      background: $primary-color !important;
      height: 6px !important;
    }
  }
}
