doctype html
html
  head
    meta[http-equiv="X-UA-Compatible" content="IE=edge"]
    meta[name="viewport" content="width=device-width, initial-scale=1"]
    title
      - if content_for? :title
        = yield(:title)
      - else
        = action_name.camelcase
      |  - Datagraft
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Montserrat:400,700|Roboto', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body.mdl-base.mdl-color--grey-100.mdl-color-text--grey-700.superlol
    .mdl-layout__container
      .mdl-layout.mdl-js-layout.mdl-layout--fixed-header[style="position:absolute;"]
        header.mdl-layout__header.mdl-color--primary.mdl-color-text--white
          .mdl-layout__header-row
            a.mdl-navigation__link.mdl-layout-title.datagraft-main-title href="/"
              | DataGraft
            .mdl-layout-spacer
            .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable
              form method="get" action="#{hasOption(:dashboardSearch) ? '/dashboard' : '/explore'}"
                label.mdl-button.mdl-js-button.mdl-button--icon[for="search"]
                  i.material-icons
                    | search
                .mdl-textfield__expandable-holder
                  input#search.mdl-textfield__input[type="text" name="search"]
                  label.mdl-textfield__label[for="search"]
                    | Enter your query...
            #something
              nav.mdl-navigation
                = link_to('Explore', explore_path, class: "mdl-navigation__link")
                - if user_signed_in?
                  = link_to('Dashboard', dashboard_path, class: "mdl-navigation__link")
                  = link_to('Publish', publish_path, class: "mdl-navigation__link")
                  = link_to((current_user.name.blank? ? current_user.username : current_user.name), current_user, class: "mdl-navigation__link #{current_user.isadmin ? 'sin-admin-user': ''}")
                - else
                  = link_to('Login', new_user_session_path, class: "mdl-navigation__link")
            - if user_signed_in?
              button#more-button.android-more-button.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
                i.material-icons
                  | more_vert
              ul.mdl-menu.mdl-js-menu.mdl-js-ripple-effect.mdl-menu--bottom-right[for="more-button"]
                li
                  = link_to('Logout', destroy_user_session_path, :method => :delete, class: "mdl-menu__item")
                li
                  = link_to('Quotas', quotas_path, class: "mdl-menu__item")
                li
                  = link_to('API keys', api_keys_path, class: "mdl-menu__item")
                li
                  = link_to('Authorized Applications', oauth_authorized_applications_path, class: "mdl-menu__item")
          
        main class="mdl-layout__content sin-main-layout #{(hasOption :flexPage) ? 'sin-layout-flex' : ''}"
        
          - flash.each do |key, value|
            div class="alert alert-#{key}"
              = value

          - if hasOption :noShadow
            section.section--center.sin-padding
              = yield

          - elsif hasOption :flexPage
            section.sin-section-flex
              = yield

          - elsif hasOption :simpleMargin
            section.sin-section-simple-margin
              = yield
          - elsif hasOption :mdlCard
            section.section--center.mdl-shadow--2dp.mdl-color--white.mdl-grid.mdl-grid--no-spacing.sin-card-layout
              = yield

          - else
            section.section--center.mdl-shadow--2dp.mdl-color--white.sin-padding
              = yield
          footer.mdl-grid
            div
              ' DataGraft is a service operated by the DaPaaS project, co-funded by the EC under 7th Framework Programme (FP7 2007-2013)

